.login {
    &__form {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
    }
    &__form-container {
        grid-column: 2/3;
        grid-row: 1/6;
        align-self: center;
        justify-self: center;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 350px;
        width: 340px;
        background-color: $color-form;
        border-radius: 6px;
    }

    &__input {
        display: block;
        width: 28rem;
        height: 4rem;
        margin-bottom: 2rem;

        &-label {
            justify-self: start;
            color: $color-white;
            font-size: 2rem;
        }
    }

    &__password {
        margin-bottom: 4rem;
    }

    &__buttonSpan {
        // font-size: 2rem;
        text-transform: none;
    }
}
