.login {
    &__center-container {
    }

    &__form {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
    }
    &__form-container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 35rem;
        width: 28rem;
        background-color: $color-secondary;
    }

    &__input {
        display: block;
        width: 28rem;
        height: 4rem;
        margin-bottom: 2rem;

        &-label {
            justify-self: start;
            color: $color-white;
            font-size: 2rem;
        }
    }

    &__buttonSpan {
        // font-size: 2rem;
        text-transform: none;
    }
}
