.start {
    display: grid;
    grid-template-columns: 1fr 70% 1fr;
    grid-template-rows: repeat(7, 1fr);
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: $color-secondary;

    &__logo-container {
        grid-column: 1/-1;
        grid-row: 1/2;

        width: 60%;
        max-width: 50rem;
        height: 20rem;
        opacity: 0.9;
    }

    &__logoText-container {
        grid-column: 2/3;
        grid-row: 1/2;
        width: 100%;
        height: 4rem;
        align-self: end;
        margin-bottom: 5rem;
        z-index: 2;
    }
    &__textSvg {
        pointer-events: none;
    }

    &__textPath {
        width: 100%;
        height: 100%;
    }

    ///////////  CENTER ////////////

    &__center-container {
        grid-column: 2/3;
        grid-row: 3/6;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    &__button-container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        width: 40rem;
        height: 70%;
    }
}
.hovClick {
    background-color: #1b8abd;
}
