.logout__button {
    position: absolute;
    left: 0;
    //     top: -60px;
    top: 0;
    height: 50px;
    width: 50px;
    border-radius: 1000px;
    border: none;
    opacity: 0;
    z-index: -1;
    transition: all 0.3s;
    color: black;

    &-show {
        top: -60px;
        opacity: 1;
        z-index: 2;
    }

    &-background {
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 0;

        &-show {
            width: 100vw;
            height: 100vh;
            display: block;
            pointer-events: all;
            z-index: 1;
        }
    }
}
