.equipment {
    &__main {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: minmax(20rem, 20%) 20% 60%;
        align-items: center;
        justify-items: center;
        width: 100%;
        height: 100vh;

        @media screen and (max-width: 600px) {
            grid-template-rows: 15% 20% 65%;
        }
    }

    &__details {
    }
}
