.dash__grid {
    display: grid;
    grid-template-columns: 1fr 80% 1fr;
    grid-template-rows: repeat(7, 1fr);
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: $color-secondary;
}
