.bottomNavContainer {
    grid-row: 3/4;
    display: flex;
    justify-content: center;
    background-color: transparent;
}
.navDash {
    &__grid {
        width: max-content;
        // height: 7rem;
        display: grid;
        grid-template-columns: repeat(2, max-content);
        column-gap: 2rem;
        align-items: center;
        justify-content: center;
        border-radius: 1000px;
        background-color: rgba($color: #fff, $alpha: 0.5);
        z-index: 3;

        &-admin {
            width: max-content;
            // height: 7rem;
            display: grid;
            grid-template-columns: repeat(3, max-content);
            column-gap: 2rem;
            align-items: center;
            justify-content: center;
            border-radius: 1000px;
            background-color: rgba($color: #fff, $alpha: 0.5);
            z-index: 3;
        }
    }

    &__buttonBox {
        height: 6rem;
        width: 6rem;
        margin: 5px;
        // &:first-child {
        //     margin-left: 5px;

        // }

        // &:last-child {
        //     margin-right: 5px;
        // }
    }

    &__userButtonBox {
        position: relative;
        z-index: 2;
    }

    &__scanButtonBox {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    &__button {
        display: flex;
        align-items: center;
        justify-content: center;
        // width: 20rem;
        width: 100%;
        height: 100%;
        color: $color-white;
        // background-color: $color-secondary;
        background-color: transparent;
        font-size: 2.4rem;
        // border: 1px solid white;
        cursor: pointer;
        transition: all 0.4s;
        border-radius: 50%;
        z-index: 2;
        &-label {
            width: 24px;
            height: 24px;
        }
    }
}

.button-selected {
    color: $color-dark;
    background-color: $color-white;
}

.mainNav__container {
    position: relative;
    width: 23rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 0 2rem 0;

    // @media screen and (max-width: 1080px) {
    //     align-self: start;
    //     padding: 0;
    // }

    // @media screen and (max-width: 500px) {
    //     width: 50rem;
    // }
    // @media screen and (max-width: 440px) {
    //     width: 35rem;
    // }
}

.navSvg {
    width: 20px;
    height: 20px;
    fill: red;
}
