.adminNav {
    &__container {
        width: max-content;
        // height: 7rem;
        display: grid;
        grid-template-columns: repeat(3, max-content);
        justify-content: center;
        align-items: center;
        column-gap: 2rem;
        border-radius: 1000px;
        background-color: rgba($color: #fff, $alpha: 0.5);
        z-index: 3;
    }

    &__buttonBox {
        height: 6rem;
        width: 6rem;
        margin: 5px;

        // &:first-child {
        //     margin-left: 5px;
        // }

        // &:last-child {
        //     margin-right: 5px;
        // }
    }

    &__button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 6rem;
        height: 6rem;
        color: $color-white;
        background-color: transparent;
        font-size: 2.4rem;
        cursor: pointer;
        transition: all 0.4s;
        border-radius: 50%;
        &-label {
            width: 28px;
            height: 28px;
        }
    }
}

.button-selected {
    color: $color-dark;
    background-color: $color-white;
}

.addUser__icon1 {
    background-color: transparent;
}
