.adminUserNav {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 100%;
    display: flex;
    align-items: center;
    height: 100%;
    background-color: $color-dark;

    &__container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    &__button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        color: $color-white;
        background-color: $color-secondary;
        // cursor: pointer;

        &-label {
            font-size: 3rem;
            letter-spacing: 1px;
        }
    }
}

.adminForm {
    grid-row: 3/7;
    grid-column: 2/3;
    align-self: start;
    justify-self: end;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 100%;
    border-radius: 6px;
    overflow: hidden;
    @media screen and (max-height: 980px) {
        grid-row: 2/6;
        align-self: start;
        margin-top: 1rem;
    }

    &__grid {
        grid-row: 2/3;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(5, 1fr);
        align-items: center;
        row-gap: 2px;
    }

    &__row {
        grid-column: 1/4;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 100%;
        height: 8rem;
        align-items: center;
        background-color: $color-form;
        padding: 1rem;

        @media screen and (max-height: 824px) {
            height: 7rem;
        }
    }

    &__headingContainer {
        grid-column: 1/4;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 4rem;
        color: $color-white;
        background-color: $color-secondary;
        font-size: 2rem;

        @media screen and (max-height: 824px) {
            height: 7rem;
        }
    }
    &__error {
        grid-column: 3/4;
        color: #e03131;
        font-size: 1.2rem;
        font-weight: 500;
    }

    &__container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 4rem 1fr;
        row-gap: 2px;
        width: 100%;
        height: max-content;
    }

    &__heading {
        font-size: 3rem;
        padding: 3rem;
    }

    &__input {
        grid-column: 2/3;
        width: 25rem;
        height: 4rem;
        font-size: 2.4rem;

        &-label {
            grid-column: 1/2;
            font-size: 2rem;
            color: $color-white;
        }

        @media screen and (max-width: 500px) {
            grid-column: 2/4;
        }

        @media screen and (max-width: 340px) {
            width: 20rem;
        }
    }

    &__select {
        grid-column: 2/3;
        width: 25rem;
        height: 4rem;
        font-size: 2.2rem;

        @media screen and (max-width: 500px) {
            grid-column: 2/4;
        }
        @media screen and (max-width: 340px) {
            width: 20rem;
        }
    }

    &__button-container {
        display: flex;
        justify-content: end;
        column-gap: 6rem;
        grid-column: 2/4;
    }

    &__button-submit {
        // height: 4rem;
        // border: none;
        // width: 14rem;
        // background-color: $color-primary;
    }
    &__button-cancel {
        justify-self: end;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1.2rem;
        width: 20rem;
        height: 6rem;
        font-size: 2.2rem;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: $color-dark;
        background-color: $color-cancel;
        border: none;
        border-radius: 100px;
        cursor: pointer;
        transition: all 0.2s ease;
        // clip-path: polygon(0 0, 100% 0%, 100% 60%, 93% 100%, 0% 100%);

        &:hover {
            filter: brightness(0.85);
        }
        &:active {
            transform: scale(0.97);
        }

        @media screen and (max-height: 824px) {
            height: 5rem;
            width: 18rem;
            font-size: 2rem;
        }
    }
}
